<script setup lang="ts">
import { useForm, Field } from 'vee-validate'
import { z } from 'zod'
import { useWithdrawMethodStore } from '~~/store/admin/withdraw/methods'
import { toTypedSchema } from '@vee-validate/zod'
import type { CustomField } from '~~/types'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
definePageMeta({
  title: 'Edit Withdraw Method',
  permissions: ['Edit Withdraw Methods'],
})
// Assuming you have the ID of the method you want to edit
const id = useRoute().params.id
const withdrawMethodStore = useWithdrawMethodStore()
const { updateWithdrawMethod } = useWallet()
const existingMethod = computed(
  () =>
    withdrawMethodStore.selectedMethod || withdrawMethodStore.getMethodById(id),
)

// Image File Handling
const imageFile = ref<FileList | null>(null)
const imagePreviewUrl = ref<string | null>(existingMethod.value?.image || null)

onMounted(async () => {
  const methodId = Number(id)
  if (withdrawMethodStore.methods.length === 0) {
    await withdrawMethodStore.fetchWithdrawMethods()
  }
  withdrawMethodStore.selectMethodById(methodId)
  imagePreviewUrl.value = existingMethod.value?.image || null
  if (!withdrawMethodStore.selectedMethod) {
    router.push('/admin/finance/withdraw/methods')
  }
})

const { toast } = useUtils()
const router = useRouter()

// Validation
const zodSchema = z.object({
  title: z.string().nonempty(t('title-is-required')),
  instructions: z.string().nonempty(t('instructions-are-required')),
  image: z.union([z.string(), z.null()]).optional(),
  fixed_fee: z.number().min(0, 'Fixed fee must be greater or equal to 0'),
  percentage_fee: z
    .number()
    .min(0, t('percentage-fee-must-be-greater-or-equal-to-0'))
    .max(100, t('percentage-fee-must-be-less-than-or-equal-to-100')),
  processing_time: z.string().nonempty('Processing time is required'),
  min_amount: z.number().min(0, t('minimum-amount-must-be-greater-or-equal-to-0')),
  max_amount: z.number().min(0, 'Maximum amount must be greater or equal to 0'),
  custom_fields: z.array(
    z.object({
      title: z.string(),
      required: z.boolean(),
      type: z.enum(['input', 'textarea', 'file upload']),
    }),
  ),
})

type FormInput = z.infer<typeof zodSchema>

const initialValues = computed<FormInput>(() => ({
  ...existingMethod.value,
  custom_fields: existingMethod.value?.custom_fields || [],
}))

const { handleSubmit, isSubmitting, resetForm, setFieldValue } = useForm({
  validationSchema: toTypedSchema(zodSchema),
  initialValues,
})

watch(imageFile, (value) => {
  const file = value?.item(0) || null
  if (imageFile.value) {
    const reader = new FileReader()
    reader.onload = (e) => {
      imagePreviewUrl.value = e.target?.result as string
    }
    reader.readAsDataURL(file)
  }
})

// Manage custom fields
const customFields = computed<CustomField[]>(() => {
  return existingMethod.value?.custom_fields || []
})
// Method to add a new custom field
const addCustomField = () => {
  const updatedCustomFields = [
    ...customFields.value,
    {
      title: '',
      required: false,
      type: 'input',
    },
  ]
  setFieldValue('custom_fields', updatedCustomFields) // Update the form values
}

// Method to remove a custom field
const removeCustomField = (index: number) => {
  const updatedCustomFields = customFields.value.slice()
  updatedCustomFields.splice(index, 1)
  setFieldValue('custom_fields', updatedCustomFields) // Update the form values
}

// Create Method
const { uploadFile } = useAuth()
const update = handleSubmit(async (values: FormInput) => {
  try {
    let data = {
      ...values,
      custom_fields: customFields.value,
    }

    if (imageFile.value) {
      const uploadResponse = await uploadFile(
        'withdraw-methods',
        [imageFile.value[0]],
        existingMethod.value?.image ? existingMethod.value?.image : undefined,
      )

      // Check if the upload was successful and get the URL
      if (uploadResponse.status) {
        // Set the new image URL in the form values
        data.image = uploadResponse.data[0]
      }
    }

    const response = await updateWithdrawMethod(id, data)
    toast.response(response)
    if (response.status) {
      await withdrawMethodStore.fetchWithdrawMethods()
      router.push('/admin/finance/withdraw/methods')
      resetForm()
    }
  } catch (error) {
    toast.danger(error as any)
  }
})
</script>

<template>
  <MashContentWrapper>
    <template #left>
      <BaseHeading size="lg">{{ $t('Edit Withdraw Method') }}</BaseHeading>
    </template>
    <template #right>
      <BaseButton
        type="button"
        color="muted"
        to="/admin/finance/withdraw/methods"
      >
        <Icon name="line-md:chevron-left" class="h-4 w-4 mr-2" />
        {{ $t('Back') }}
      </BaseButton>
    </template>
    <form @submit="update" class="space-y-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <BaseCard class="p-5 space-y-5">
          <!-- Title -->
          <Field
            name="title"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              :disabled="isSubmitting"
              type="text"
              :label="$t('Title')"
              :placeholder="$t('enter-title')"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Processing Time -->
          <Field
            name="processing_time"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              type="text"
              label="Processing Time"
              placeholder="Ex: 3 Days"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>
        </BaseCard>

        <BaseCard class="p-5">
          <!-- Image Upload Section -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <BaseInputFileHeadless
              v-model="imageFile"
              v-slot="{ open, remove, preview, drop, files }"
            >
              <div
                class=""
                @dragenter.stop.prevent
                @dragover.stop.prevent
                @drop="drop"
              >
                <div
                  v-if="!files?.length"
                  class="nui-focus border-muted-300 dark:border-muted-700 hover:border-muted-400 focus:border-muted-400 dark:hover:border-muted-600 dark:focus:border-muted-700 group cursor-pointer rounded-lg border-[3px] border-dashed transition-colors duration-300"
                  tabindex="0"
                  role="button"
                  @click="open"
                  @keydown.enter.prevent="open"
                >
                  <div class="p-5 text-center">
                    <Icon
                      name="mdi-light:cloud-upload"
                      class="text-muted-400 group-hover:text-primary-500 group-focus:text-primary-500 mb-2 h-10 w-10 transition-colors duration-300"
                    />

                    <h4 class="text-muted-400 font-sans text-sm">
                      {{ $t('Drop file to upload') }}
                    </h4>

                    <div>
                      <span
                        class="text-muted-400 font-sans text-[0.7rem] font-semibold uppercase"
                      >
                        {{ $t('or') }}
                      </span>
                    </div>

                    <label
                      for="file"
                      class="text-muted-400 group-hover:text-primary-500 group-focus:text-primary-500 cursor-pointer font-sans text-sm underline underline-offset-4 transition-colors duration-300"
                    >
                      {{ $t('Select Image') }}
                    </label>
                  </div>
                </div>

                <ul v-else class="mt-6 space-y-2">
                  <li v-for="file in files" :key="file.name">
                    <div
                      class="border-muted-200 dark:border-muted-700 dark:bg-muted-800 relative flex items-center justify-end gap-2 rounded-xl border bg-white p-3"
                    >
                      <div class="flex items-center gap-2">
                        <div class="shrink-0">
                          <img
                            class="h-14 w-14 rounded-xl object-cover object-center"
                            v-if="file.type.startsWith('image')"
                            :src="preview(file).value"
                            :alt="$t('image-preview')"
                          />

                          <img
                            v-else
                            class="h-14 w-14 rounded-xl object-cover object-center"
                            src="/img/avatars/placeholder-file.png"
                            :alt="$t('image-preview')"
                          />
                        </div>

                        <div class="font-sans">
                          <span
                            class="text-muted-800 dark:text-muted-100 line-clamp-1 block text-sm"
                          >
                            {{ file.name }}
                          </span>

                          <span class="text-muted-400 block text-xs">
                            {{ formatFileSize(file.size) }}
                          </span>
                        </div>
                      </div>

                      <div
                        class="ms-auto w-32 px-4 transition-opacity duration-300"
                        :class="'opacity-100'"
                      >
                        <BaseProgress :value="0" size="xs" :color="'success'" />
                      </div>

                      <div class="flex gap-2">
                        <button
                          class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300 disabled:cursor-not-allowed disabled:opacity-60"
                          disabled
                          type="button"
                          tooltip="Cancel"
                        >
                          <Icon name="lucide:slash" class="h-4 w-4" />

                          <span class="sr-only">{{ $t('Cancel') }}</span>
                        </button>

                        <button
                          class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300"
                          type="button"
                          tooltip="Upload"
                        >
                          <Icon name="lucide:arrow-up" class="h-4 w-4" />

                          <span class="sr-only">{{ $t('Upload') }}</span>
                        </button>

                        <button
                          class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300"
                          type="button"
                          tooltip="Remove"
                          @click.prevent="remove(file)"
                        >
                          <Icon name="lucide:x" class="h-4 w-4" />

                          <span class="sr-only">{{ $t('Remove') }}</span>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </BaseInputFileHeadless>
            <div
              v-if="imagePreviewUrl"
              class="mb-4 h-36 w-full flex items-center justify-center overflow-hidden rounded-xl"
            >
              <img
                :src="imagePreviewUrl"
                :alt="$t('image-preview')"
                class="max-h-full max-w-full object-cover object-center"
              />
            </div>
          </div>
        </BaseCard>
      </div>
      <BaseCard class="p-5">
        <!-- Instructions -->
        <Field
          name="instructions"
          v-slot="{ field, errorMessage, handleChange, handleBlur }"
        >
          <BaseTextarea
            v-model="field.value"
            :error="errorMessage"
            label="Withdraw Instruction"
            shape="rounded"
            placeholder="Write withdrawal instructions..."
            class="w-full"
            @update:model-value="handleChange"
            @blur="handleBlur"
          /> </Field
      ></BaseCard>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <BaseCard class="p-5 space-y-5">
          <!-- Fixed Fee -->
          <Field
            name="fixed_fee"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              type="number"
              :label="$t('fixed-fee')"
              :placeholder="$t('enter-fixed-fee')"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Percentage fee -->
          <Field
            name="percentage_fee"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              type="number"
              :label="$t('percentage-fee')"
              :placeholder="$t('enter-percentage-fee')"
              shape="rounded"
              min="0"
              max="100"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>
        </BaseCard>

        <BaseCard class="p-5 space-y-5">
          <!-- Min Amount -->
          <Field
            name="min_amount"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              type="number"
              :label="$t('Minimum Amount')"
              :placeholder="$t('enter-minimum-amount')"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Max Amount -->
          <Field
            name="max_amount"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              type="number"
              :label="$t('Maximum Amount')"
              :placeholder="$t('enter-maximum-amount')"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>
        </BaseCard>
      </div>

      <!-- Custom Fields Section -->
      <BaseCard class="p-5 space-y-5">
        <div class="flex justify-between items-center">
          <h3 class="text-xl font-semibold mb-4">{{ $t('Custom Fields') }}</h3>

          <!-- Add New Custom Field Button -->
          <BaseButtonIcon
            type="button"
            color="primary"
            @click="addCustomField"
            condensed
          >
            <Icon name="line-md:plus" class="h-5 w-5" />
          </BaseButtonIcon>
        </div>
        <div
          v-for="(field, index) in customFields"
          :key="index"
          class="space-y-4"
        >
          <!-- Title, Required, Type -->
          <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
            <div class="col-span-1 sm:col-span-6">
              <BaseInput
                v-model="field.title"
                shape="rounded"
                label="Field Title"
                placeholder="Ex: username"
              />
            </div>
            <div class="col-span-1 sm:col-span-4">
              <BaseListbox
                v-model="field.type"
                label="Field Type"
                :items="['input', 'textarea', 'file upload']"
                placeholder="Select a type"
                shape="rounded"
              />
            </div>
            <div class="col-span-1 sm:col-span-2">
              <div class="flex justify-end items-center gap-2 pt-6">
                <BaseCheckbox v-model="field.required" label="Required" />
                <!-- Remove Button -->
                <MashButtonIcon
                  type="button"
                  color="danger"
                  @click="removeCustomField(index)"
                >
                  <Icon name="line-md:close" class="h-4 w-4" />
                </MashButtonIcon>
              </div>
            </div>
          </div>
        </div>
      </BaseCard>

      <BaseButton
        type="submit"
        color="primary"
        :disabled="isSubmitting"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
      >
        {{ $t('Update Method') }}
      </BaseButton>
    </form>
  </MashContentWrapper>
</template>
