<script setup lang="ts">
import { useWithdrawMethodStore } from '~~/store/admin/withdraw/methods'
import type { WithdrawMethod } from '~~/types'
definePageMeta({
  permissions: ['Access Withdraw Methods'],
  title: 'Withdraw Methods',
})

const withdrawMethodStore = useWithdrawMethodStore()
const route = useRoute()

const filter = ref('')
const perPage = ref(10)
const page = computed(() => parseInt((route.query.page as string) ?? '1'))
const selected = ref<number[]>([])
const isAllVisibleSelected = computed(
  () => selected.value.length === withdrawMethodStore.methods.length,
)

const items = computed(() =>
  withdrawMethodStore.methods.filter((item) =>
    item.title.includes(filter.value),
  ),
)
const paginatedItems = computed(() => {
  const start = (page.value - 1) * perPage.value
  const end = start + perPage.value
  return items.value.slice(start, end)
})

function toggleAllVisibleSelection() {
  if (isAllVisibleSelected.value) {
    selected.value = []
  } else {
    selected.value = items.value.map((item) => item.id) ?? []
  }
}

onMounted(async () => {
  if (withdrawMethodStore.methods.length === 0) {
    withdrawMethodStore.loading = true
    await withdrawMethodStore.fetchWithdrawMethods()
    withdrawMethodStore.loading = false
  }
})
const { toast } = useUtils()

function updateSelectedWithdrawMethodStatus(status: boolean) {
  withdrawMethodStore
    .updateWithdrawMethodsStatus(selected.value, status)
    .then((response) => {
      toast.response(response as any)
      selected.value = []
    })
}

const router = useRouter()

function selectMethod(method: WithdrawMethod) {
  withdrawMethodStore.selectMethod(method)
  router.push(`/admin/finance/withdraw/methods/edit/${method.id}`)
}
</script>

<template>
  <div>
    <MashContentWrapper>
      <template #left>
        <BaseInput
          v-model="filter"
          icon="lucide:search"
          :classes="{
            wrapper: 'w-full sm:w-auto',
          }"
          placeholder="Filter methods..."
        />
        <BaseSelect
          v-model="perPage"
          label=""
          :classes="{
            wrapper: 'w-full sm:w-40',
          }"
        >
          <option :value="10">10 {{ $t('per page') }}</option>
          <option :value="25">25 {{ $t('per page') }}</option>
          <option :value="50">50 {{ $t('per page') }}</option>
          <option :value="100">100 {{ $t('per page') }}</option>
        </BaseSelect>
      </template>
      <template #right>
        <BaseButton
          color="primary"
          :to="`/admin/finance/withdraw/methods/create`"
        >
          <Icon name="lucide:plus" size="16" class="mr-2" />
          {{ $t('Create') }}</BaseButton
        >
      </template>
      <div>
        <template
          v-if="!withdrawMethodStore.loading && paginatedItems?.length === 0"
        >
          <BasePlaceholderPage
            :title="
              filter && filter !== '' ? 'No matching results' : 'No results'
            "
            :subtitle="
              filter && filter !== ''
                ? 'Looks like we couldn\'t find any matching results for your search terms. Try other search terms.'
                : 'Looks like we don\'t have any data here yet.'
            "
          >
            <template #image>
              <img
                class="block dark:hidden"
                src="/img/illustrations/placeholders/flat/placeholder-search-4.svg"
                :alt="$t('placeholder-image')"
              />
              <img
                class="hidden dark:block"
                src="/img/illustrations/placeholders/flat/placeholder-search-4-dark.svg"
                :alt="$t('placeholder-image')"
              />
            </template>
          </BasePlaceholderPage>
        </template>
        <div v-else class="w-full">
          <div
            class="bg-info-100 text-info-700 dark:bg-info-900 dark:text-info-100 rounded-lg p-4 flex justify-between items-center w-full mb-2"
            v-if="!withdrawMethodStore.loading && selected.length > 0"
          >
            <span class="text-sm">
              {{ $t('You have selected') }} {{ selected.length }}
              {{ $t('items of the total') }} {{ items.length }}
              {{ $t('items') }}.
            </span>
            <div class="flex gap-2">
              <MashButtonIcon
                color="danger"
                size="xs"
                :data-nui-tooltip="$t('Disable currencies')"
                @click="() => updateSelectedWithdrawMethodStatus(false)"
              >
                <Icon name="line-md:close-small" class="h-5 w-5" />
              </MashButtonIcon>
              <MashButtonIcon
                color="success"
                size="xs"
                :data-nui-tooltip="$t('Enable currencies')"
                @click="() => updateSelectedWithdrawMethodStatus(true)"
              >
                <Icon name="line-md:confirm" class="h-5 w-5" />
              </MashButtonIcon>
            </div>
          </div>
          <MashFlexTable>
            <template #header>
              <div class="relative">
                <span class="pl-4">
                  <BaseCheckbox
                    :model-value="isAllVisibleSelected"
                    :indeterminate="
                      selected.length > 0 && !isAllVisibleSelected
                    "
                    @click="toggleAllVisibleSelection"
                  />
                </span>
              </div>
            </template>

            <TableFlexTableRow
              v-for="(item, index) in paginatedItems"
              :key="item.id"
              spaced
            >
              <template #start>
                <TableFlexTableCell
                  data-content="Selection"
                  class="xs:absolute right-2 ml-2"
                >
                  <BaseCheckbox
                    v-model="selected"
                    :value="item.id"
                    :name="`item-checkbox-${item.id}`"
                    shape="rounded"
                    class="text-primary-500"
                  />
                </TableFlexTableCell>
                <TableFlexTableStart
                  label="Method"
                  :hide-label="index > 0"
                  :picture="item.image"
                  :title="item.title"
                />
              </template>
              <template #end>
                <TableFlexTableCell
                  :label="$t('fixed-fee')"
                  :hide-label="index > 0"
                  class="w-20 xs:w-full"
                  >{{ item.fixed_fee }}</TableFlexTableCell
                >
                <TableFlexTableCell
                  label="% Fee"
                  :hide-label="index > 0"
                  class="w-20 xs:w-full"
                  >{{ item.percentage_fee }}%</TableFlexTableCell
                >
                <TableFlexTableCell
                  :label="$t('min-max')"
                  :hide-label="index > 0"
                  class="w-20 xs:w-full"
                  >{{ item.min_amount }} /
                  {{ item.max_amount }}</TableFlexTableCell
                >
                <TableFlexTableCell
                  :label="$t('status')"
                  :hide-label="index > 0"
                  class="w-20 xs:w-full"
                >
                  <BaseTag
                    :color="item.status ? 'success' : 'danger'"
                    flavor="pastel"
                    condensed
                    >{{ item.status ? 'Active' : 'Disabled' }}</BaseTag
                  >
                </TableFlexTableCell>
                <TableFlexTableCell :label="$t('Actions')" :hide-label="index > 0">
                  <MashButtonIcon
                    condensed
                    color="warning"
                    @click="selectMethod(item)"
                    data-nui-tooltip="Edit"
                  >
                    <Icon name="line-md:edit" class="h-4 w-4" />
                  </MashButtonIcon>
                </TableFlexTableCell>
              </template>
            </TableFlexTableRow>
          </MashFlexTable>
        </div>

        <div class="mt-6">
          <BasePagination
            v-if="items.length > perPage"
            :total-items="items.length"
            :current-page="page"
            :item-per-page="perPage"
          />
        </div>
      </div>
    </MashContentWrapper>
  </div>
</template>
