<script setup lang="ts">
import { useForm, Field } from 'vee-validate'
import { z } from 'zod'
import { useEcosystemAdminTokenStore } from '~~/store/extensions/ecosystem/tokens/admin'
import { useAdminEcommerceProductsStore } from '~~/store/extensions/ecommerce/admin/products'
import { useAdminEcommerceCategoriesStore } from '~~/store/extensions/ecommerce/admin/categories'
import { toTypedSchema } from '@vee-validate/zod'
import type { EcommerceProduct } from '~~/types'

definePageMeta({
  title: 'Edit Ecommerce Product',
  permissions: ['Edit Ecommerce Product'],
})

const { toast } = useUtils()
const router = useRouter()
const { id } = useRoute().params

const adminProductsStore = useAdminEcommerceProductsStore()
const adminCategoriesStore = useAdminEcommerceCategoriesStore()
const { updateAdminProduct } = useEcommerce()

const extensionStore = useExtensionStore()
const extensions = computed(() => extensionStore.extensions)
const ecosystemExtension = computed(
  () => extensions.value?.find((extension) => extension.name === 'ecosystem'),
)
const settingsStore = useSettingsStore()
const settings = computed(() => settingsStore.settings)

const currencyStore = useCurrencyStore()
const currencies = computed(() => currencyStore.currencies)

const fiatCurrencyStore = useFiatCurrencyStore()
const fiatCurrencies = computed(() => fiatCurrencyStore.currencies)

const ecosystemAdminTokenStore = useEcosystemAdminTokenStore()
const ecoCurrencies = computed(() => ecosystemAdminTokenStore.tokens)

const validWalletTypes: string[] = ['FIAT']

const categories = computed(() => adminCategoriesStore.categories)

onMounted(async () => {
  if (adminCategoriesStore.categories.length === 0) {
    adminCategoriesStore.loading = true
    await adminCategoriesStore.fetchCategories()
    adminCategoriesStore.loading = false
  }
  if (adminProductsStore.products.length === 0) {
    adminProductsStore.loading = true
    await adminProductsStore.fetchProducts()
    adminProductsStore.loading = false
  }
  if (extensionStore.extensions.length === 0) {
    await extensionStore.fetchExtensions()
  }
  if (settings.value?.spot_exchange) {
    validWalletTypes.push('SPOT')
    if (currencyStore.currencies.length === 0) {
      await currencyStore.fetchCurrencies()
    }
  }
  if (ecosystemExtension.value?.status) {
    validWalletTypes.push('ECO')
    if (ecosystemAdminTokenStore.tokens.length === 0) {
      await ecosystemAdminTokenStore.fetchTokensAll()
    }
  }
  if (fiatCurrencyStore.currencies.length === 0) {
    await fiatCurrencyStore.fetchCurrencies()
  }
  adminProductsStore.selectProductById(Number(id))
  imagePreviewUrl.value = product.value?.image || null
  resetForm()
})

const product = computed(
  () =>
    adminProductsStore.selectedProduct || adminProductsStore.getProductById(id),
)

const availablePurchaseCurrencies = computed(() => {
  let allCurrencies: string[] = []
  if (values.wallet_type === 'SPOT') {
    allCurrencies = currencies.value.map((item) => item.currency)
  } else if (values.wallet_type === 'ECO') {
    allCurrencies = ecoCurrencies.value.map((item) => item.currency)
  } else if (values.wallet_type === 'FIAT') {
    allCurrencies = fiatCurrencies.value.map((item) => item.code)
  }

  // Use a Set to remove duplicates and then spread it into an array
  const uniqueCurrencies = [...new Set(allCurrencies)]
  return uniqueCurrencies
})

const zodSchema = z.object({
  name: z.string().nonempty('Name is required'),
  description: z.string().nonempty('Description is required'),
  type: z.enum(['DOWNLOADABLE', 'KEY']),
  price: z.number().min(0, 'Price must be greater than 0'),
  currency: z.string().nonempty('Currency is required'),
  wallet_type: z.enum(validWalletTypes),
  category: z.object({
    label: z.string().nonempty('Category is required'),
    value: z.number().positive('Category is required'),
  }),
  inventory_quantity: z
    .number()
    .min(0, 'Inventory Quantity must be non-negative'),
  file_path: z.string().optional(),
  status: z.enum(['ACTIVE', 'INACTIVE']),
})

type FormInput = z.infer<typeof zodSchema>

// Image File Handling
const imageFile = ref<FileList | null>(null)
const imagePreviewUrl = ref<string | null>(product.value?.image || null)

watch(imageFile, (value) => {
  const file = value?.item(0) || null
  if (imageFile.value) {
    const reader = new FileReader()
    reader.onload = (e) => {
      imagePreviewUrl.value = e.target?.result as string
    }
    reader.readAsDataURL(file)
  }
})

const initialValues = computed(() => {
  return {
    ...product.value,
    category: {
      label: product.value?.category?.name || '',
      value: product.value?.category?.id || 0,
    },
  }
})

const { handleSubmit, isSubmitting, values, resetForm } = useForm({
  validationSchema: toTypedSchema(zodSchema),
  initialValues,
})

const { uploadFile } = useAuth()
const update = handleSubmit(async (values: FormInput) => {
  try {
    let image = imagePreviewUrl.value

    if (imageFile.value) {
      const uploadResponse = await uploadFile(
        'ecommerce-categories',
        [imageFile.value[0]],
        product.value?.image ? product.value?.image : undefined,
      )

      // Check if the upload was successful and get the URL
      if (uploadResponse.status) {
        // Set the new image URL in the form values
        image = uploadResponse.data[0]
      }
    }

    const response = await updateAdminProduct(
      Number(id),
      values.name,
      values.description,
      values.type.toUpperCase(),
      values.price,
      values.currency,
      values.wallet_type,
      values.category.value,
      values.inventory_quantity,
      values.file_path,
      values.status,
      image,
    )
    toast.response(response)
    if (response.status) {
      await adminProductsStore.fetchProducts()
      router.push('/admin/extensions/ecommerce/products')
    }
  } catch (error) {
    toast.danger(error as any)
  }
})
</script>

<template>
  <MashContentWrapper>
    <template #left>
      <BaseHeading size="lg">{{ $t('Edit Product') }}</BaseHeading>
    </template>
    <template #right>
      <BaseButton
        type="button"
        color="muted"
        class="hover:bg-gray-300 dark:hover:bg-gray-800"
        :to="'/admin/extensions/ecommerce/products'"
      >
        <Icon name="line-md:chevron-left" class="h-4 w-4 mr-2" />
        {{ $t('Back') }}
      </BaseButton>
      <BaseButton
        type="submit"
        color="primary"
        :disabled="isSubmitting"
        class="w-full"
        @click="update"
      >
        {{ $t('Save Changes') }}
      </BaseButton>
    </template>
    <form @submit.prevent="update" class="space-y-8">
      <BaseCard class="p-5 space-y-5">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <!-- Name -->
          <Field
            name="name"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              :label="$t('Name')"
              placeholder="Enter product name"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Description -->
          <Field
            name="description"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              label="Description"
              placeholder="Enter product description"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Type -->
          <Field
            name="type"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseListbox
              :model-value="field.value"
              :error="errorMessage"
              :items="['DOWNLOADABLE', 'KEY']"
              placeholder="Select a type"
              label="Type"
              shape="rounded"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <Field
            name="wallet_type"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseListbox
              :model-value="field.value"
              :error="errorMessage"
              :items="validWalletTypes"
              label="Purchase Wallet Type"
              placeholder="Select wallet type"
              shape="rounded"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- currency -->
          <Field
            name="currency"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseListbox
              :model-value="field.value"
              :error="errorMessage"
              :items="availablePurchaseCurrencies"
              label="Purchase Currency"
              placeholder="Select purchase currency"
              :disabled="!values?.type || values?.type === ''"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Price -->
          <Field
            name="price"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              label="Price"
              placeholder="Enter product price"
              shape="rounded"
              class="w-full"
              type="number"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Category -->
          <Field
            name="category"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseListbox
              v-model="field.value"
              :error="errorMessage"
              :items="
                categories.map((category) => ({
                  label: category.name,
                  value: category.id,
                }))
              "
              :properties="{
                label: 'label',
                value: 'value',
              }"
              :label="$t('category')"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Inventory Quantity -->
          <Field
            name="inventory_quantity"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              label="Inventory Quantity"
              placeholder="Enter inventory quantity"
              shape="rounded"
              class="w-full"
              type="number"
              min="0"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- File Path -->
          <Field
            v-if="values.type === 'DOWNLOADABLE'"
            name="file_path"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseInput
              v-model="field.value"
              :error="errorMessage"
              label="File Path"
              placeholder="Enter file path or URL"
              shape="rounded"
              class="w-full"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>

          <!-- Status -->
          <Field
            name="status"
            v-slot="{ field, errorMessage, handleChange, handleBlur }"
          >
            <BaseListbox
              :model-value="field.value"
              :error="errorMessage"
              :items="['ACTIVE', 'INACTIVE']"
              placeholder="Select a status"
              :label="$t('status')"
              shape="rounded"
              @update:model-value="handleChange"
              @blur="handleBlur"
            />
          </Field>
        </div>
      </BaseCard>

      <BaseCard class="p-5">
        <!-- Image Upload Section -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <BaseInputFileHeadless
            v-model="imageFile"
            v-slot="{ open, remove, preview, drop, files }"
          >
            <div
              class=""
              @dragenter.stop.prevent
              @dragover.stop.prevent
              @drop="drop"
            >
              <div
                v-if="!files?.length"
                class="nui-focus border-muted-300 dark:border-muted-700 hover:border-muted-400 focus:border-muted-400 dark:hover:border-muted-600 dark:focus:border-muted-700 group cursor-pointer rounded-lg border-[3px] border-dashed transition-colors duration-300"
                tabindex="0"
                role="button"
                @click="open"
                @keydown.enter.prevent="open"
              >
                <div class="p-5 text-center">
                  <Icon
                    name="mdi-light:cloud-upload"
                    class="text-muted-400 group-hover:text-primary-500 group-focus:text-primary-500 mb-2 h-10 w-10 transition-colors duration-300"
                  />

                  <h4 class="text-muted-400 font-sans text-sm">
                    {{ $t('Drop file to upload') }}
                  </h4>

                  <div>
                    <span
                      class="text-muted-400 font-sans text-[0.7rem] font-semibold uppercase"
                    >
                      {{ $t('or') }}
                    </span>
                  </div>

                  <label
                    for="file"
                    class="text-muted-400 group-hover:text-primary-500 group-focus:text-primary-500 cursor-pointer font-sans text-sm underline underline-offset-4 transition-colors duration-300"
                  >
                    {{ $t('Select Image') }}
                  </label>
                </div>
              </div>

              <ul v-else class="mt-6 space-y-2">
                <li v-for="file in files" :key="file.name">
                  <div
                    class="border-muted-200 dark:border-muted-700 dark:bg-muted-800 relative flex items-center justify-end gap-2 rounded-xl border bg-white p-3"
                  >
                    <div class="flex items-center gap-2">
                      <div class="shrink-0">
                        <img
                          class="h-14 w-14 rounded-xl object-cover object-center"
                          v-if="file.type.startsWith('image')"
                          :src="preview(file).value"
                          :alt="$t('image-preview')"
                        />

                        <img
                          v-else
                          class="h-14 w-14 rounded-xl object-cover object-center"
                          src="/img/avatars/placeholder-file.png"
                          :alt="$t('image-preview')"
                        />
                      </div>

                      <div class="font-sans">
                        <span
                          class="text-muted-800 dark:text-muted-100 line-clamp-1 block text-sm"
                        >
                          {{ file.name }}
                        </span>

                        <span class="text-muted-400 block text-xs">
                          {{ formatFileSize(file.size) }}
                        </span>
                      </div>
                    </div>

                    <div
                      class="ms-auto w-32 px-4 transition-opacity duration-300"
                      :class="'opacity-100'"
                    >
                      <BaseProgress :value="0" size="xs" :color="'success'" />
                    </div>

                    <div class="flex gap-2">
                      <button
                        class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300 disabled:cursor-not-allowed disabled:opacity-60"
                        disabled
                        type="button"
                        tooltip="Cancel"
                      >
                        <Icon name="lucide:slash" class="h-4 w-4" />

                        <span class="sr-only">{{ $t('Cancel') }}</span>
                      </button>

                      <button
                        class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300"
                        type="button"
                        tooltip="Upload"
                      >
                        <Icon name="lucide:arrow-up" class="h-4 w-4" />

                        <span class="sr-only">{{ $t('Upload') }}</span>
                      </button>

                      <button
                        class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300"
                        type="button"
                        tooltip="Remove"
                        @click.prevent="remove(file)"
                      >
                        <Icon name="lucide:x" class="h-4 w-4" />

                        <span class="sr-only">{{ $t('Remove') }}</span>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </BaseInputFileHeadless>
          <div
            v-if="imagePreviewUrl"
            class="mb-4 h-36 w-full flex items-center justify-center overflow-hidden rounded-xl"
          >
            <img
              :src="imagePreviewUrl"
              :alt="$t('image-preview')"
              class="max-h-full max-w-full object-cover object-center"
            />
          </div>
        </div>
        <div>
          <span
            class="text-warning-400 dark:text-warning-600 font-sans text-[0.7rem] font-semibold"
          >
            {{ $t('Note') }}: Preferred image size is 600x400px
          </span>
        </div>
      </BaseCard>

      <MashFormSave>
        <BaseButton
          type="submit"
          color="primary"
          :disabled="isSubmitting"
          class="w-full"
        >
          {{ $t('Save Changes') }}
        </BaseButton>
      </MashFormSave>
    </form>
  </MashContentWrapper>
</template>
