<script setup lang="ts">
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
definePageMeta({
  title: 'Exchange Wizard Step 5',
})
const router = useRouter()
const { data: project } = useMultiStepForm()
if (!project.value.exchange) {
  router.push('/admin/exchange/wizard')
}

// Create a local copy of the symbols to enable two-way binding in the template
const editableSymbols = ref({ ...project.value.symbols })

// Watch for changes to editableSymbols and update project.value.symbols accordingly
watch(editableSymbols, (newVal) => {
  project.value.symbols = newVal
})

// Multiplier state
const multiplier = ref(1)

// Method to apply the multiplier to all taker and maker fees
const applyMultiplier = () => {
  for (const symbolKey in editableSymbols.value) {
    editableSymbols.value[symbolKey].taker =
      editableSymbols.value[symbolKey].taker * multiplier.value
    editableSymbols.value[symbolKey].maker =
      editableSymbols.value[symbolKey].maker * multiplier.value
  }
}

// Method to get unique currencies from selected symbols
const getUniqueCurrencies = () => {
  const currencies = Object.keys(project.value.symbols).flatMap((symbolKey) =>
    symbolKey.split('/'),
  ) // Split each symbol into base and quote

  return Array.from(new Set(currencies)) // Return unique currencies
}

const { toast } = useUtils()
// Method to fetch and save currencies to project state
const apiPath = useRuntimeConfig().public.apiPath
const fetchAndSaveCurrencies = async () => {
  const uniqueCurrencies = getUniqueCurrencies()
  try {
    const response = await $fetch(
      `${apiPath}/api/exchange/settings/fetch/currencies`,
      {
        credentials: 'include',
        headers: {
          'client-platform': 'browser',
        },
        query: {
          exchange: project.value.exchange,
        },
      },
    )
    if (response.error) {
      toast.danger(response.error)
      return
    }
    const currencyDetails = response.data
    // Filter the details by unique currencies
    project.value.currencies = Object.keys(currencyDetails)
      .filter((currency) => uniqueCurrencies.includes(currency))
      .reduce((acc, currency) => {
        acc[currency] = currencyDetails[currency]
        return acc
      }, {})
  } catch (error) {
    toast.danger(error as any)
  }
}

// Call the method when the component is mounted
onMounted(async () => {
  await fetchAndSaveCurrencies()
})
</script>

<template>
  <div>
    <WizardStepTitle />
    <div class="flex items-center gap-3 mb-5 justify-end">
      <BaseInput
        v-model.number="multiplier"
        type="number"
        shape="rounded"
        :placeholder="t('enter-multiplier')"
      />
      <BaseButton @click="applyMultiplier" color="primary" type="button">
        {{ $t('apply-multiplier') }}
      </BaseButton>
    </div>
    <div
      class="grid gap-5 xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5"
    >
      <BaseCard
        shape="rounded"
        class="p-4"
        v-for="(item, key, index) in editableSymbols"
        :key="index"
      >
        <div class="flex flex-col w-full items-start gap-2">
          <BaseHeading as="h4" size="sm" weight="medium" lead="none">
            {{ key }} {{ $t('Fees') }}
          </BaseHeading>
          <BaseInput
            v-model.number="item.taker"
            type="number"
            shape="rounded"
            :label="$t('taker')"
            :placeholder="$t('taker-fee')"
          />
          <BaseInput
            v-model.number="item.maker"
            type="number"
            shape="rounded"
            :label="$t('maker')"
            :placeholder="$t('maker-fee')"
          />
        </div>
      </BaseCard>
    </div>
  </div>
</template>
