<script setup lang="ts">
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
definePageMeta({
  permissions: ['Access Cron'],
  title: 'Cron Jobs',
})

const extensionStore = useExtensionStore()
const extensions = computed(() => extensionStore.extensionsUser)

const crons = ref([
  {
    title: t('deposit-cron'),
    description: t('runs-every-15-minutes'),
    time: '*/15 * * * *',
    link: '/api/cron/wallets/spot/deposit',
  },
  {
    title: t('withdraw-cron'),
    description: t('runs-every-30-minutes'),
    time: '*/30 * * * *',
    link: '/api/cron/wallets/spot/withdraw',
  },
  {
    title: t('investments'),
    description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
    time: '0 * * * *',
    link: '/api/cron/investment',
  },
  {
    title: t('binary-orders'),
    description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
    time: '0 * * * *',
    link: '/api/cron/binary/orders',
  },
  {
    title: t('exchange-currencies'),
    description: t('runs-every-2-minutes'),
    time: '*/2 * * * *',
    link: '/api/cron/exchange/currencies',
  },
  {
    title: t('fiat-currencies'),
    description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
    time: '0 * * * *',
    link: '/api/cron/fiat/currencies',
  },
])

onMounted(async () => {
  if (extensionStore.extensions.length === 0) {
    await extensionStore.fetchExtensionsUser()
  }

  if (extensions.value['ai_trading']) {
    crons.value.push({
      title: t('ai-investments'),
      description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
      time: '0 * * * *',
      link: '/api/cron/ai-trading/investment',
    })
  }

  if (extensions.value['forex']) {
    crons.value.push({
      title: t('forex-investments'),
      description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
      time: '0 * * * *',
      link: '/api/cron/forex/investment',
    })
  }

  if (extensions.value['ico']) {
    crons.value.push({
      title: t('ico-phases'),
      description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
      time: '0 * * * *',
      link: '/api/cron/ico/phase',
    })
  }

  if (extensions.value['staking']) {
    crons.value.push({
      title: t('staking-logs'),
      description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
      time: '0 * * * *',
      link: '/api/cron/staking',
    })
  }

  if (extensions.value['mailwizard']) {
    crons.value.push({
      title: t('mailwizard-campaigns'),
      description: t('runs-once-every-hour-at-the-beginning-of-the-hour'),
      time: '0 * * * *',
      link: '/api/cron/mailwizard/send',
    })
  }
})
</script>

<template>
  <div>
    <MashContentWrapper>
      <div>
        <div class="w-full">
          <MashFlexTable class="md:pt-0 sm:pt-5 md:mt-0 sm:mt-5">
            <TableFlexTableRow
              v-for="(item, index) in crons"
              :key="item.id"
              spaced
            >
              <template #start>
                <TableFlexTableStart
                  :label="$t('cron')"
                  :hide-label="index > 0"
                  class="w-1/2 xs:w-full"
                  :title="item.title"
                  :subtitle="item.description"
                />
                <TableFlexTableStart
                  :label="$t('link')"
                  class="w-1/2 xs:w-full"
                  :hide-label="index > 0"
                  :title="item.link"
                  :subtitle="item.time"
                />
              </template>
            </TableFlexTableRow>
          </MashFlexTable>
        </div>
      </div>
    </MashContentWrapper>
  </div>
</template>
