<script setup lang="ts">
import { useForm, Field } from 'vee-validate'
import { z } from 'zod'
import { useAdminEcommerceCategoriesStore } from '~~/store/extensions/ecommerce/admin/categories'
import { toTypedSchema } from '@vee-validate/zod'
import type { EcommerceCategory } from '~~/types'

definePageMeta({
  title: 'Edit Ecommerce Category',
  permissions: ['Edit Ecommerce Category'],
})

const { toast } = useUtils()
const router = useRouter()
const { id } = useRoute().params

const adminCategoriesStore = useAdminEcommerceCategoriesStore()
const { updateAdminCategory } = useEcommerce() // Make sure these functions are implemented in your composable

const category = computed(
  () =>
    adminCategoriesStore.selectedCategory ||
    adminCategoriesStore.getCategoryById(id),
)

onMounted(async () => {
  if (adminCategoriesStore.categories.length === 0) {
    adminCategoriesStore.loading = true
    await adminCategoriesStore.fetchCategories()
    adminCategoriesStore.loading = false
  }
  await adminCategoriesStore.selectCategoryById(Number(id))
})

const zodSchema = z.object({
  name: z.string().nonempty('Name is required'),
  description: z.string().optional(),
  status: z.enum(['ACTIVE', 'INACTIVE']),
})

type FormInput = z.infer<typeof zodSchema>

const { handleSubmit, isSubmitting, values, resetForm } = useForm({
  validationSchema: toTypedSchema(zodSchema),
  initialValues: computed(() => category.value),
})
// Image File Handling
const imageFile = ref<FileList | null>(null)
const imagePreviewUrl = ref<string | null>(category.value?.image || null)

watch(imageFile, (value) => {
  const file = value?.item(0) || null
  if (imageFile.value) {
    const reader = new FileReader()
    reader.onload = (e) => {
      imagePreviewUrl.value = e.target?.result as string
    }
    reader.readAsDataURL(file)
  }
})

const { uploadFile } = useAuth()
const update = handleSubmit(async (values: FormInput) => {
  try {
    let image = null
    if (imageFile.value) {
      const uploadResponse = await uploadFile(
        'ecommerce-categories',
        [imageFile.value[0]],
        category.value?.image ? category.value?.image : undefined,
      )

      // Check if the upload was successful and get the URL
      if (uploadResponse.status) {
        // Set the new image URL in the form values
        image = uploadResponse.data[0]
      }
    }
    const response = await updateAdminCategory(
      Number(id),
      values.name,
      values.description,
      values.status,
      image ?? undefined,
    )
    toast.response(response)
    if (response.status) {
      await adminCategoriesStore.fetchCategories()
      router.push('/admin/extensions/ecommerce/categories')
    }
  } catch (error) {
    toast.danger(error as any)
  }
})
</script>
<template>
  <MashContentWrapper>
    <template #left>
      <BaseHeading size="lg">
        {{ $t('Edit Category') }}
      </BaseHeading>
    </template>
    <template #right>
      <BaseButton
        type="button"
        color="muted"
        class="hover:bg-gray-300 dark:hover:bg-gray-800"
        :to="'/admin/extensions/ecommerce/categories'"
      >
        <Icon name="line-md:chevron-left" class="h-4 w-4 mr-2" />
        {{ $t('Back to Categories') }}
      </BaseButton>
      <BaseButton
        type="submit"
        color="primary"
        :disabled="isSubmitting"
        class="ml-2"
        @click="update"
      >
        {{ $t('Save Changes') }}
      </BaseButton>
    </template>
    <form @submit.prevent="update" class="space-y-8">
      <BaseCard class="p-5 space-y-5">
        <!-- Name Field -->

        <Field
          name="name"
          v-slot="{ field, errorMessage, handleChange, handleBlur }"
        >
          <BaseInput
            v-model="field.value"
            :error="errorMessage"
            :disabled="isSubmitting"
            type="text"
            :label="$t('Name')"
            placeholder="Enter name"
            shape="rounded"
            class="w-full"
            @update:model-value="handleChange"
            @blur="handleBlur"
          />
        </Field>

        <!-- Description Field -->
        <Field
          name="description"
          v-slot="{ field, errorMessage, handleChange, handleBlur }"
        >
          <BaseInput
            v-model="field.value"
            :error="errorMessage"
            :disabled="isSubmitting"
            type="text"
            label="Description"
            placeholder="Enter description"
            shape="rounded"
            class="w-full"
            @update:model-value="handleChange"
            @blur="handleBlur"
          />
        </Field>

        <!-- Status Field -->

        <Field
          name="status"
          v-slot="{ field, errorMessage, handleChange, handleBlur }"
        >
          <BaseListbox
            :model-value="field.value"
            :error="errorMessage"
            :items="['ACTIVE', 'INACTIVE']"
            placeholder="Select a status"
            :label="$t('status')"
            shape="rounded"
            @update:model-value="handleChange"
            @blur="handleBlur"
          />
        </Field>
      </BaseCard>
      <BaseCard class="p-5">
        <!-- Image Upload Section -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <BaseInputFileHeadless
            v-model="imageFile"
            v-slot="{ open, remove, preview, drop, files }"
          >
            <div
              class=""
              @dragenter.stop.prevent
              @dragover.stop.prevent
              @drop="drop"
            >
              <div
                v-if="!files?.length"
                class="nui-focus border-muted-300 dark:border-muted-700 hover:border-muted-400 focus:border-muted-400 dark:hover:border-muted-600 dark:focus:border-muted-700 group cursor-pointer rounded-lg border-[3px] border-dashed transition-colors duration-300"
                tabindex="0"
                role="button"
                @click="open"
                @keydown.enter.prevent="open"
              >
                <div class="p-5 text-center">
                  <Icon
                    name="mdi-light:cloud-upload"
                    class="text-muted-400 group-hover:text-primary-500 group-focus:text-primary-500 mb-2 h-10 w-10 transition-colors duration-300"
                  />

                  <h4 class="text-muted-400 font-sans text-sm">
                    {{ $t('Drop file to upload') }}
                  </h4>

                  <div>
                    <span
                      class="text-muted-400 font-sans text-[0.7rem] font-semibold uppercase"
                    >
                      {{ $t('or') }}
                    </span>
                  </div>

                  <label
                    for="file"
                    class="text-muted-400 group-hover:text-primary-500 group-focus:text-primary-500 cursor-pointer font-sans text-sm underline underline-offset-4 transition-colors duration-300"
                  >
                    {{ $t('Select Image') }}
                  </label>
                </div>
              </div>

              <ul v-else class="mt-6 space-y-2">
                <li v-for="file in files" :key="file.name">
                  <div
                    class="border-muted-200 dark:border-muted-700 dark:bg-muted-800 relative flex items-center justify-end gap-2 rounded-xl border bg-white p-3"
                  >
                    <div class="flex items-center gap-2">
                      <div class="shrink-0">
                        <img
                          class="h-14 w-14 rounded-xl object-cover object-center"
                          v-if="file.type.startsWith('image')"
                          :src="preview(file).value"
                          :alt="$t('image-preview')"
                        />

                        <img
                          v-else
                          class="h-14 w-14 rounded-xl object-cover object-center"
                          src="/img/avatars/placeholder-file.png"
                          :alt="$t('image-preview')"
                        />
                      </div>

                      <div class="font-sans">
                        <span
                          class="text-muted-800 dark:text-muted-100 line-clamp-1 block text-sm"
                        >
                          {{ file.name }}
                        </span>

                        <span class="text-muted-400 block text-xs">
                          {{ formatFileSize(file.size) }}
                        </span>
                      </div>
                    </div>

                    <div
                      class="ms-auto w-32 px-4 transition-opacity duration-300"
                      :class="'opacity-100'"
                    >
                      <BaseProgress :value="0" size="xs" :color="'success'" />
                    </div>

                    <div class="flex gap-2">
                      <button
                        class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300 disabled:cursor-not-allowed disabled:opacity-60"
                        disabled
                        type="button"
                        tooltip="Cancel"
                      >
                        <Icon name="lucide:slash" class="h-4 w-4" />

                        <span class="sr-only">{{ $t('Cancel') }}</span>
                      </button>

                      <button
                        class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300"
                        type="button"
                        tooltip="Upload"
                      >
                        <Icon name="lucide:arrow-up" class="h-4 w-4" />

                        <span class="sr-only">{{ $t('Upload') }}</span>
                      </button>

                      <button
                        class="border-muted-200 hover:border-primary-500 text-muted-700 dark:text-muted-200 hover:text-primary-600 dark:border-muted-700 dark:bg-muted-900 dark:hover:border-primary-500 dark:hover:text-primary-600 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full border bg-white transition-colors duration-300"
                        type="button"
                        tooltip="Remove"
                        @click.prevent="remove(file)"
                      >
                        <Icon name="lucide:x" class="h-4 w-4" />

                        <span class="sr-only">{{ $t('Remove') }}</span>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </BaseInputFileHeadless>
          <div
            v-if="imagePreviewUrl"
            class="mb-4 h-36 w-full flex items-center justify-center overflow-hidden rounded-xl"
          >
            <img
              :src="imagePreviewUrl"
              :alt="$t('image-preview')"
              class="max-h-full max-w-full object-cover object-center"
            />
          </div>
        </div>
        <div>
          <span
            class="text-warning-400 dark:text-warning-600 font-sans text-[0.7rem] font-semibold"
          >
            {{ $t('Note') }}: Preferred image size is 600x400px
          </span>
        </div>
      </BaseCard>
      <MashFormSave>
        <BaseButton
          type="submit"
          color="primary"
          :disabled="isSubmitting"
          class="w-full"
        >
          {{ $t('Update Category') }}
        </BaseButton>
      </MashFormSave>
    </form>
  </MashContentWrapper>
</template>
